<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.metro_photoview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Subway area"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Metro_photoview">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EndDialog"
            android:theme="@android:style/Theme.Holo.Dialog"

        />
        <activity android:name=".Popup_dijkstra"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"

            tools:ignore="Instantiatable" />
    </application>

</manifest>